

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */
.secondary-bg{
    background-color:  #FFF8F3;
}

.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;

}

.btn{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 30px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    margin-top: 20px;

}

/* section styles */
.section-title{
    font-size: 35px;
    font-weight: bol;
    color: #181818;

}
.section-description{
    font-size: 18px;
    color: #757575;

}






/* header styles */
.header{
    background-image: url(../images/developer.png) ; 
    background-repeat: no-repeat;
    background-position: top left, ;
}









/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;

   
}
nav ul li {
    list-style: none;
    margin-right: 50px;
    
} 
nav li a {
    text-decoration: none;
  
}
/*banner styles*/
.banner{
    display: flex; 
    justify-content: space-between;
    margin: 0 35px 0 200px;
    
}
.banner-content{
    max-width: 580px;
    
    
}

.banner-greatings{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
    
    

}
.banner-name{
    font-weight: bold;
    font-size: 85px;
    margin-top: 10px;

}
.banner-description{
    font-size: 20px;
    margin-bottom: 5px;

}
.banner_pic{
    width: 580 px;
    height: 400px;
   
   
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
 .section{
    margin-top: 130px;
    margin-bottom: 130px;
 }







/* about styles */
.about{
    border-radius: 10px; ;
    padding: 130px 150px ;
    text-align: center;
    
}

.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.item-description{
    font-weight: bold;
}
.text-center{
    text-align: center;

}

/* skill styles */
.skill-parent{
    display: flex;
    gap: 24px;  
}  
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}


/* resume stules */
.resume-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
}

.experience-sub-title{
    font-size: 20  px;
    font-weight: bold;
    margin-bottom: 20  px;
    
    
}

.experience-description, .experience-sub-title{
    
    color: #757575;
    
}